<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 이미지 업로드 권한 추가 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="아리아리"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone_1"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".PhotoActivityViewPager"
            android:exported="false" />
        <activity
            android:name=".CheckPhoto"
            android:exported="false" />
        <activity
            android:name=".WritePhoto"
            android:exported="false" />
        <activity
            android:name=".DiaryActivityViewPager"
            android:exported="false" />
        <activity
            android:name=".CheckDiary"
            android:exported="false" />
        <activity
            android:name=".WriteDiary"
            android:exported="false" />
        <activity
            android:name=".MainBookshelf"
            android:exported="false" />


        <activity
            android:name=".BoardRecipe"
            android:exported="false"/>
        <activity
            android:name=".BoardShareinfo"
            android:exported="false"/>
        <activity
            android:name=".BoardGoodday"
            android:exported="false"/>
        <activity
            android:name=".BoardFree"
            android:exported="false"/>
        <activity
            android:name=".CardviewBoard"
            android:exported="false"/>
        <activity
            android:name=".WriteCommunity"
            android:exported="false" />
        <activity
            android:name=".MainCommunity"
            android:exported="false" />

        <activity
            android:name=".ChatbotWeb"
            android:exported="false" />

        <activity
            android:name=".Unity_CardGame"
            android:exported="false" />
        <activity
            android:name=".Unity_MathGame"
            android:exported="false" />
        <activity
            android:name=".Unity_ArrayGame"
            android:exported="false" />
        <activity android:name=".MainGame"
            android:exported="false" />

        <activity
            android:name=".CheckGraph"
            android:exported="false" />
        <activity
            android:name=".CheckMusclepain"
            android:exported="false" />
        <activity
            android:name=".CheckFrequency"
            android:exported="false" />
        <activity
            android:name=".MainHealthcheck"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false"/>

        <activity
            android:name=".SigninPage"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>